.card:hover {
  background-color: #E4F0FA;
  cursor: pointer;
}

.card {
  background-color: #FFFFFF;
}

.container {
  display: flex;
  justify-content: space-between;
  padding: 0 0.5rem 0.5rem;
}

.content1 {
  margin-right: left;

}

.content2 {
  margin-left: auto;
}

.card-img-top {
  position: relative;
}

.card-img-top h2 {
  text-align: center;
  color: black;
  position: absolute;
  bottom: 0%;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 6px;
  margin: 0;
}